In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [2]:

#cwm note: using csv file;
# instead of importing through the PostgreSQL app, pandas is being used to take the source file and 
# to prepare for Load to PostgreS

# AllTrails data - nationalpark.csv
# National_Parks.csv
# weather_data.csv

csv_file = "./Resources/AllTrails data - nationalpark.csv"
trails_data_df = pd.read_csv(csv_file)


csv_file = "./Resources/National_Parks.csv"
national_parks_df = pd.read_csv(csv_file)

csv_file = "./Resources/weather_data.csv"
weather_data_df = pd.read_csv(csv_file)

In [3]:
trails_data_df.head(1)

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i

In [4]:
national_parks_df.head(1)

,parkCode,Park Name,Fee per Car,Fee per Person,Street Address,City,State,Zip Code,Phone Number,Email Address,Lat,Lng,Weather Summary
0,acad,Acadia National Park,30.0,15.0,25 Visitor Center Road,Bar Harbor,ME,04609,2072883338,acadia_information@nps.gov,44.409286,-68.247501,"Located on Mount Desert Island in Maine, Acadi..."

In [5]:
trails_data_small_df = trails_data_df[['trail_id', 'name', 'city_name', 'num_reviews']].copy()
trails_data_small_df.head()

   trail_id                        name             city_name  num_reviews
0  10020048     Harding Ice Field Trail                Seward          423
1  10236086  Mount Healy Overlook Trail  Denali National Park          260
2  10267857          Exit Glacier Trail                Seward          224
3  10236076        Horseshoe Lake Trail  Denali National Park          237
4  10236082          Triple Lakes Trail  Denali National Park          110

In [6]:
weather_data_df.head(1)

,parkCode,Park Name,City,State,Lat,Lng,Min Temp,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Country
0,acad,Acadia National Park,Bar Harbor,ME,44.409286,-68.247501,290.27,293.29,90,34,2.46,1663027240,US

### Create new data with select columns

In [ ]:
# Table structures had been imported in Reed's example using CREATE Script?
# - Check the playback - 

new_customer_data_df = customer_data_df[['id', 'first_name', 'last_name']].copy()
new_customer_data_df.head()

### Store JSON data into a DataFrame

In [ ]:
# Example of using JSON file to stage in pandas ahead of Load to PostgreSql

json_file = "../Resources/customer_location.json"
customer_location_df = pd.read_json(json_file)
customer_location_df.head()

### Clean DataFrame

In [ ]:
#Lightweight exmample - proxy for 'clean up' - to be used for Load

new_customer_location_df = customer_location_df[["id", "address", "us_state"]].copy()
new_customer_location_df.head()

### Connect to local database

In [7]:
# In Reed's example, used 'properties' for username; in most cases it is Postgres
#Chuck: Note to check... also Reed's example does not use Password; 

#by default the postgres UN is 'postgresql' and the default pw is 'postgres'
# https://chartio.com/resources/tutorials/how-to-set-the-default-user-password-in-postgresql/

protocol = 'postgresql'
username = 'postgres'
password = ''
host = 'localhost'
port = 5432

# to be determined by the group; example from class 'customer_db'
database_name = 'test_project_2_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [8]:
# view connection string
rds_connection_string

'postgresql://postgres:Postgre957Sql@localhost:5432/test_project_2_db'

### Check for tables

In [9]:
engine.table_names()

C:\Users\Janssen VR 2\AppData\Local\Temp\ipykernel_17280\4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

[]

### Use pandas to load csv converted DataFrame into database

In [10]:
trails_data_small_df.to_sql(name='trail_data', con=engine, if_exists='append', index=False)

313

### Use pandas to load json converted DataFrame into database

In [ ]:
#Reed Example

new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [11]:
pd.read_sql_query('select * from trail_data', con=engine).head()

   trail_id                        name             city_name  num_reviews
0  10020048     Harding Ice Field Trail                Seward          423
1  10236086  Mount Healy Overlook Trail  Denali National Park          260
2  10267857          Exit Glacier Trail                Seward          224
3  10236076        Horseshoe Lake Trail  Denali National Park          237
4  10236082          Triple Lakes Trail  Denali National Park          110

### Confirm data has been added by querying the customer_location table

In [ ]:
pd.read_sql_query('select * from customer_location', con=engine).head()